html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #2c2d35;
}

html,
body {
	height: 100%;
}

.button {
	padding: 20px 60px;
	border: 1px solid #598d66;
	background-color: transparent;
	color: #598d66;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}

.title {
	font-size: 40px;
	line-height: 44px;
	font-weight: 500;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background-color: #e1ede6;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 38px;
	padding-bottom: 33px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}
.header__logo {
	display: flex;
	align-items: top;
	color: #598d66;
	gap: 8px;
	font-weight: 700;
}

.logo-img {
	margin-top: -5px;
}
.header__menu {
	display: flex;
	gap: 60px;
}
.hero {
	background-color: #f4f6f5;
	padding-bottom: 68px;
}
.hero__inner {
	display: flex;
	padding: 0 15px;
	gap: 30px;
}

.hero__information {
	padding-top: 143px;
}

.main-title {
	color: #2c2d35;
	font-family: Raleway;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	margin-bottom: 20px;
}
.main-title span {
	color: #598d66;
	font-family: Raleway;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
}
.hero__text {
	color: #86928b;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	margin-bottom: 60px;
}
.hero__button {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
}
.paint {
	background-color: #f4f6f5;
}

.paint__inner {
	padding-left: 15px;
	padding-right: 15px;
}

.paint__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.paint__btns {
	display: flex;
	gap: 32px;
}

.paint__btn {
	font-family: 'Raleway', sans-serif;
	border-radius: 20px;
	background: #d4e8d9;
	padding: 10px 20px;
	border: none;
	color: #2c2d35;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
}

.paint__btn--active {
	background-color: #376b44;
	color: #f4f6f5;
}

.card {
	background-color: #e1ede6;
	width: 350px;
	height: 730px;
	padding: 20px;
}

.card-img {
	margin-bottom: 14px;
}

.card__author {
	color: #86928b;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 13px;
}

.card__name {
	color: #2c2d35;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 12px;
}

.card__desc {
	color: #2c2d35;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 30px;
}

.card__price {
	color: #598d66;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}

.card__btn {
	width: 100%;
	font-family: Raleway;
	font-size: 20px;
}

.paint__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
